<mat-stepper #stepper (selectionChange)="selectionChange($event)">
    <mat-step>
      <ng-template matStepLabel>Zvezki</ng-template>
      <app-table-zvezki [dataSource]="zvezki"/>
    </mat-step>

  <mat-step>
    <ng-template matStepLabel>Tematike</ng-template>
    <app-table-tematike [dataSource]="tematike"/>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Naloge</ng-template>
    <app-table-naloge [dataSource]="naloge"/>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Učenci</ng-template>
    <app-table-ucenci [dataSource]="ucenci"/>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Potrditev</ng-template>

    <h1>Stevilo nalog: {{naloge.data.length}}</h1>
    <h1>Stevilo ucencev: {{ucenci.data.length}}</h1>

    <button mat-button (click)="stepper.reset()">Preklici</button>
  </mat-step>

</mat-stepper>
