<mat-stepper #stepper (selectionChange)="selectionChange($event)">
    <mat-step>
      <ng-template matStepLabel>Zvezki</ng-template>
      <app-table-zvezki [zvezki]="zvezki"/>
    </mat-step>

  <mat-step>
    <ng-template matStepLabel>Tematike</ng-template>
    <app-table-tematike [tematike]="tematike"/>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Naloge</ng-template>
    <app-table-naloge/>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Učenci</ng-template>
    <app-table-osebe [osebe]="ucenci"/>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Potrditev</ng-template>

    <h1>Tu je kratka analiza izbire in potrditev testa</h1>
    <button mat-button (click)="stepper.reset()">Preklici</button>
  </mat-step>

</mat-stepper>
