.col-forestgreen {
  background-color: forestgreen !important;
  color: white !important;
}

.col-red {
  background-color: red !important;
  color: white !important;
}

.col-orange {
  background-color: orange !important;
  color: black !important;
}

.col-lightgrey {
  background-color: lightgrey !important;
  color: black !important;
}

.col-royalblue {
  background-color: royalblue !important;
  color: white !important;
}
