<div class="mat-elevation-z8">

  <!--  FILTER-->
  <mat-form-field class="w-100">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyAuditsFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <table [dataSource]="audits" mat-table matSort multiTemplateDataRows>

    <ng-container matColumnDef="tip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by smer">Tip</th>
      <td mat-cell *matCellDef="let audit"> {{audit.tip}} </td>
    </ng-container>

    <ng-container matColumnDef="opis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Opis</th>
      <td mat-cell *matCellDef="let audit"> {{audit.opis}} </td>
    </ng-container>

    <ng-container matColumnDef="trajanje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Trajanje</th>
      <td mat-cell *matCellDef="let audit"> {{audit.trajanje | Trajanje}} </td>
    </ng-container>

    <ng-container matColumnDef="ustvarjeno_pred">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by posiljatelj"> Ustvarjeno</th>
      <td mat-cell *matCellDef="let audit"> {{audit.ustvarjeno | DateOddaljenost}}</td>
    </ng-container>

    <ng-container matColumnDef="ustvarjeno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by posiljatelj"> Pred </th>
      <td mat-cell *matCellDef="let audit"> {{audit.ustvarjeno | date}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let audit; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons/>

</div>
