<app-loading [loading]="loading"/>
<form [formGroup]="formGroup" (ngSubmit)="poslji()">
  <div class="row p-4">
    <div class="col-sm-12">
      <app-input-oseba/>
    </div>
    <div class="col-sm-12 col-md-6">
      <app-input-email/>
    </div>
    <div class="col-sm-12 col-md-6">
      <app-input-telefon/>
    </div>

    <div class="col-12">
      <app-input-msg/>
      <button [disabled]="loading" mat-raised-button type="submit" color="primary" class="w-100">Pošlji</button>
    </div>
  </div>
</form>
