#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

* {
  font-family: 'Roboto Mono', monospace !important;
}

i {
  font-family: 'Material Icons', monospace !important;
}


body {
  margin: 10px 0 30px 0;
  background-color: rgba(0, 0, 0, 0.0) !important;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

form {
  margin: 0 !important;
}

form > div {
  margin: 0 0 12px 0 !important;
}

.green {
  background-color: green !important;
  color: white !important;
}

.red {
  background-color: red !important;
  color: white !important;
}

.orange {
  background-color: orange !important;
  color: black !important;
}

.lightgrey {
  background-color: lightgrey !important;
  color: black !important;
}

.blink {
  animation-name: blink;
  width: 280px;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: Infinite;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

@keyframes blink {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  0% {
    opacity: 0.0;
  }
}
