<div class="row">
  <div class="col">
    <mat-list>
      <div mat-subheader>Oseba</div>
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>{{oseba?.ime}} {{oseba?.priimek}}</div>
        <div matListItemLine>Uporabniski ime in priimek</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>{{oseba?.username}}</div>
        <div matListItemLine>Uporabnisko ime</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>key</mat-icon>
        <div matListItemTitle>{{oseba?.tip}}</div>
        <div matListItemLine>Tip uporabnika</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col">
    <mat-list>
      <div mat-subheader>Naslovi</div>
      <mat-list-item *ngFor="let naslov of naslovi">
        <mat-icon matListItemIcon>map</mat-icon>
        <div matListItemTitle>{{naslov.ulica}}</div>
        <div matListItemLine>{{naslov.zip}} {{naslov.mesto}}</div>
        <div matListItemLine>{{naslov.drzava}}</div>
      </mat-list-item>
      <div mat-subheader>Kontakti</div>
      <mat-list-item *ngFor="let kontakt of kontakti">
        <mat-icon matListItemIcon>phone</mat-icon>
        <div matListItemTitle>{{kontakt.data}}</div>
        <div matListItemLine>{{kontakt.tip}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
