@keyframes danger-pulse {
  0% {
    background-color: rgba(255, 0, 0, 0.55);
  }
  100% {
    background-color: #ffefef;
  }
}

@keyframes warn-pulse {
  0% {
    background-color: #ffa500;
  }
  100% {
    background-color: #fff8ee;
  }
}

.danger-pulse {
  background-color: red;
  animation-name: danger-pulse;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0,0,1,.5);
  animation-iteration-count: infinite;
}

.warn-pulse {
  background-color: orange;
  animation-name: warn-pulse;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0,0,1,.5);
  animation-iteration-count: infinite;
}
