@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$my-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$blue-palette, 700),
    accent: mat.define-palette(mat.$orange-palette),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));


@include mat.core-color($my-theme);
@include mat.all-component-themes($my-theme);
@include mat.private-form-field-density(-2);
