@use '@angular/material' as mat;

@include mat.core();

@font-face {
  font-family: 'JetBrains Mono Light';
  src: url("../assets/webfonts/JetBrainsMono-Light.woff2");
}

@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url("../assets/webfonts/JetBrainsMono-Regular.woff2");
}

@font-face {
  font-family: 'JetBrains Mono Medium';
  src: url("../assets/webfonts/JetBrainsMono-Medium.woff2");
}

@font-face {
  font-family: 'JetBrains Mono SemiBold';
  src: url("../assets/webfonts/JetBrainsMono-SemiBold.woff2");
}

@font-face {
  font-family: 'JetBrains Mono Bold';
  src: url("../assets/webfonts/JetBrainsMono-Bold.woff2");
}

@font-face {
  font-family: 'JetBrains Mono ExtraBold';
  src: url("../assets/webfonts/JetBrainsMono-ExtraBold.woff2");
}

$bold-typography: mat.define-typography-config(
  $font-family: 'JetBrains Mono Bold',
);

@include mat.all-component-typographies($bold-typography);
