<div class="text-center">
  <div mat-dialog-content class="text-start">
    <div class="row">
      <div class="col">
        <mat-list>
          <div mat-subheader>Prejemnik</div>
          <mat-list-item>
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>{{model.prejemnik.tip}}</div>
            <div matListItemLine>Tip osebe</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>{{model.prejemnik.ime}} {{model.prejemnik.priimek}}</div>
            <div matListItemLine>Ime in priimek</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>{{model.prejemnik_kontakt.tip}} {{model.prejemnik_kontakt.data}}</div>
            <div matListItemLine>Ime in priimek</div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col">
        <mat-list>
          <div mat-subheader>Posiljatelj</div>
          <mat-list-item>
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>{{model.posiljatelj.tip}}</div>
            <div matListItemLine>Tip osebe</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>{{model.posiljatelj.ime}} {{model.posiljatelj.priimek}}</div>
            <div matListItemLine>Ime in priimek</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>{{model.posiljatelj_kontakt.tip}} {{model.posiljatelj_kontakt.data}}</div>
            <div matListItemLine>Ime in priimek</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <mat-divider/>
    <p class="text-center mt-3">{{model.vsebina}}</p>
  </div>
  <div mat-dialog-actions>
    <button apperence="fill" color=primary class="w-100" mat-raised-button mat-dialog-close>Zapri</button>
  </div>
</div>
